* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.clear {
    clear: both;
}

.container {
    /* padding-top: 20px; */
    width: 60%;
    /* height: 1000px; */
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.header {
    background-color: black;
    color: white;
    height: 80px;
    font-size: 19px;
    text-align: center;
    padding: 10px 50px;
    border-radius: 20px 20px 0 0;
}

.header span {
    display: inline-block;
    padding: 5px 10px;
}

.perfil {
    height: 200px;
    border-bottom: 2px solid;
}

.dados {
    width: 60%;
    height: 100%;
    /* border: 1px solid; */
    float: left;
    text-align: right;
    padding-right: 16px;
    padding-top: 70px;
}

.foto {
    width: 40%;
    height: 100%;
    /* border: solid 1px; */
    float: left;
}

.foto img {
    width: 130px;
    border-radius: 50%;
    border: 1px solid;
    margin-top: 30px;
    margin-left: 25px;
}

.exper {
    height: 510px;
    width: 60%;
    float: left;
    border-right: 1px solid;
    padding-left: 10px;
    padding-right: 15px;
}

.exper h2 {
    text-decoration: underline;
}

.exper h3,
.exper h4,
.exper p {
    padding-left: 15px;
}

.exper h4 {
    font-weight: normal;
}

.exper h3 {
    margin-top: 16px;
}

.tech {
    height: 500px;
    width: 40%;
    float: left;
    border-left: 1px solid;
    padding-left: 10px;
}

.tech h2 {
    margin-bottom: 10px;
    text-decoration: underline;
}

.tech h4 {
    font-weight: normal;
    padding-right: 15px;
}

.ball {
    height: 16px;
    width: 16px;
    background-color: black;
    border-radius: 50%;
    float: left;
    margin-left: 3px;
}

.ball2 {
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    border-color: black;
    border: 1px solid;
    float: left;
    margin-left: 3px;
}

.tech p {
    float: left;
    width: 50%;
    clear: both;
}

.educ {
    border-top: 2px solid;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}

.educ h2 {
    text-decoration: underline;
}

.educ h3 {
    margin-top: 10px;
}

.educ h3,
.educ p {
    padding-left: 10px;
}

.footer {
    background-color: black;
    color: white;
    height: 80px;
    font-size: 19px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.github-link,
.linkedin-link,
.instagram-link {
    margin: 0 25px;
}
